<div>
    <form>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <h3>Create Store</h3>
            </div>
            <div class="ui-g-12">
                <label>Management Division</label><i class="pi pi-star"></i>
                <div>
                    <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="separator">
                    <hr>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-10">
                    <button class="btn btn-primary nav-item nav-link-edit" [routerLink]="['/createStore']">Create Store</button>
                </div>
                <div class="ui-g-2">
                    <button class="btn btn-secondary" (click)="downloadCSV()"><i class="pi pi-file-excel"></i>Export to csv</button>
                </div>
            </div>
            <div class="ui-g-12">
                <p-table  [columns]="cols" [value]="cars" [(selection)]="selectedCars3" dataKey="vin"
                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" 
                [paginator]="true" currentPageReportTemplate="Displaying {first} - {last} of {totalRecords}">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width:42px">
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                {{col.header}}   <i class="pi pi-filter"></i>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </form>
</div>